

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.fond {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 30px;
    width: 100%;
    max-width: 600px;
    margin: 20px;
}


h1 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

label {
    font-size: 14px;
    color: #555;
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="password"],
select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 14px;
}

form {
    display: flex;
    flex-direction: column;
}


input[type="radio"],
input[type="checkbox"] {
    margin-right: 10px;
}


input[type="radio"] {
    margin-top: 10px;
}


input:invalid {
    border-color: #f44336;
}


button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
}

button:hover {
    background-color: #45a049;
}


@media (max-width: 1024px) {
    .fond {
        padding: 25px;
        width: 80%;
    }

    label {
        font-size: 16px;
    }

    input[type="text"],
    input[type="password"],
    select {
        font-size: 15px;
    }
}
@media (max-width: 768px) {
    /* Pour les tablettes (portrait) et les écrans mobiles de taille moyenne */
    .fond {
        padding: 20px;
        width: 90%;
    }

    label {
        font-size: 16px;
    }

    input[type="text"],
    input[type="password"],
    select {
        font-size: 16px;
        padding: 12px;
    }

    button {
        font-size: 14px;
        padding: 12px 24px;
    }
}

@media (max-width: 480px) {
    /* Pour les smartphones */
    body {
        padding: 10px;
    }

    .fond {
        padding: 15px;
        width: 100%;
    }

    label {
        font-size: 14px;
    }

    input[type="text"],
    input[type="password"],
    select {
        font-size: 14px;
        padding: 10px;
    }

    button {
        font-size: 14px;
        padding: 10px 20px;
    }
}
